@model IEnumerable<Category>

<footer class="py-2 mt-5 border-top position-absolute bottom-0 w-100">
    <div class="container">

        <div class="row mt-2 d-flex justify-content-center text-center">
            <span class="text-muted">Tomasz Kalus &copy; 2024</span>
        </div>
        <div class="d-flex justify-content-center mt-2">
        <a href="https://github.com/tomaszkalus" target="_blank"><i class="bi bi-github mx-4 text-secondary fs-4 social-icon"></i></a>
            <a href="https://www.linkedin.com/in/tomasz-kalus/ target=" _blank""><i class="bi bi-linkedin text-secondary fs-4 social-icon"></i></a>
        </div>

    </div>
</footer>