@model IEnumerable<Product>
@{
    ViewData["Title"] =  @ViewData["CategoryName"];
}
<div>
    <h1>Products in category: @ViewData["CategoryName"]</h1>
    <partial name="_ProductsGridPartial" model="Model" />
</div>