@model List<Product>


<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                Create new product
            </a>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>
            Author
        </th>
        <th>
            Title
        </th>
        <th>
            ISBN
        </th>
        <th>
            List Price
        </th>
        <th>
            Price
        </th>
        <th>
            Price (over 50 pcs.)
        </th>
        <th>
            Price (over 100 pcs.)
        </th>
        <th>
            Category
        </th>
            <th>
                Options
            </th>
    </tr>
    </thead>

</table>

@section Scripts
{
    <script src="~/js/product.js" defer ></script>
}
