@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill me-1 fs-5"></i>@UserManager.GetUserName(User)
        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-page="/Account/Manage/Index" asp-area="Identity" title="Manage Profile">
                    Manage Profile
                </a>
            </li>
            <li>
                <a class="dropdown-item" asp-page="/YourOrders" title="Your Orders">
                    Your orders
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="dropdown-item px-1 py-0" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn btn-link text-decoration-none text-black">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
